*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.navPane{
    display: flex;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.727);
    height: 60px;
}
.navPane ul{
    display: flex;
    
}
.nav-icon, span{
    color: white; 
    margin-top: 12px;  
    
}
.nav-icon{
    margin-top: 14px;
}
.login-nav{
    right: 50px;
    position: absolute;
    text-decoration: none;
}
.signup-nav,.nav-uname{
    right: 150px;
    position: absolute;
    text-decoration: none;
    
}

.login-nav:hover,.signup-nav:hover{
    background-color: grey;
    padding: 6px;
    transition: all 0.4s;
}

span{
    padding: 5px;
}
.home-nav{
    padding: 10px;
    
}
ul li{
    list-style: none;
    padding: 10px;
    
}
.nav-uname{
    margin: 24px;
    cursor: pointer;
}
.list-item{
    text-decoration: none;
    color: white;
}
.logout-nav{
    padding: 8px;
    cursor: pointer;
}
.new-list{
    display: none;
}
.nav-uname:hover .new-list{
    display: block;
    background-color:  rgba(0, 0, 0, 0.727);
    right: -30px;
    width: 120px;
    text-align: center;
    margin-top: 15px;
}
.nav-uname:hover .new-list li{
    border-bottom: 1px solid white;
    background-color: rgba(0, 0, 0, 0.727);
}
.new-list li:hover{
    background-color: grey;
}
.logout-nav{
    color: white;
    background-color: rgb(186, 9, 38);
    border-radius: 10px;
}
